body{
    background-image: url(https://nuwallpaperhd.info/wp-content/uploads/2018/01/Large-Desert-Nature-Wallpaper-Background-Image.jpg);
    background-attachment: fixed;
}
h1{
    font-family: 'Permanent Marker', cursive;
font-size: 50pt;

color: black;
-webkit-text-fill-color: white;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;

}
h2{
    font-family: 'Luckiest Guy', cursive;
font-size: 30pt;
color: black;
-webkit-text-fill-color: white;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
}

.Description{
    font-family: 'Merriweather', serif;

font-size: 20pt;
}
.button1{
    background-color:white;
    color: black;
    padding: 32px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute; 
    top: 55%;
    left: 50%; 
    height: 30px;
    width: 100px;
    border-radius: 15px;
}
.button2{
    background-color:white;
    color: black;
    padding: 32px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute; 
    top: 55%;
    left: 40%;
    height: 30px;
    width: 100px; 
    border-radius: 15px;  
}
.button3{
    background-color:white;
    color: black;
    padding: 32px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute; 
    top: 70%;
    left: 50%;
    height: 30px;
    width: 100px; 
    border-radius: 15px;  
}
.button4{
    background-color:white;
    color: black;
    padding: 32px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute; 
    top: 70%;
    left: 40%;
    height: 30px;
    width: 100px; 
    border-radius: 15px;  
}
.button5{
    background-color:white;
    color: black;
    padding: 32px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute; 
    top: 85%;
    left: 40%;
    height: 30px;
    width: 100px; 
    border-radius: 15px;  
}
.button6{
    background-color:white;
    color: black;
    padding: 32px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute; 
    top: 85%;
    left: 50%;
    height: 30px;
    width: 100px; 
    border-radius: 15px;
}

.button7{
    background-color:white;
    color: black;
    padding: 32px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute; 
    top: 100%;
    left: 50%;
    height: 30px;
    width: 100px; 
    border-radius: 15px;
}

.button8{
    background-color:white;
    color: black;
    padding: 32px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute; 
    top: 100%;
    left: 40%;
    height: 30px;
    width: 100px; 
    border-radius: 15px;  
}